# ======================================
# PYTHON
# ======================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================
# VENV
# ======================================

venv/

# ======================================
# ENV FILES
# ======================================

.env

# ======================================
# SQLITE DATABASE
# ======================================

*.db

# ======================================
# STREAMLIT CACHE
# ======================================

.streamlit/

# ======================================
# PYTEST CACHE
# ======================================

.pytest_cache/

# ======================================
# LOGS
# ======================================

logs/

# ======================================
# OUTPUT FILES
# ======================================

output/

# ======================================
# OS FILES
# ======================================

.DS_Store
Thumbs.db

# ======================================
# IDE
# ======================================

.vscode/
.idea/